.main_div {
    padding-top: 8%;
    margin: 0 auto;
}

.header {
    /* border: 1px solid ;; */
    /* text-shadow: white; */
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
    color: darkturquoise;
    background-color: dimgrey;
}

.record_div {
    border: 1px solid red;
    background-color: darkmagenta;
    color: white;
    border-radius: 40%;
    width: 20%;
    font-size: 26px;
    height: 40px;
    text-align: center;
    /* align: center; */
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.record_time {
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-bottom: 1%;
}

.segmenting {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
    color: red;
    font-size: 12px;
}

.playing {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
    color: red;
    font-size: 12px;
}

.play_div {
    border: 0px;
    background-color: darkmagenta;
    color: white;
    border-radius: 45%;
    width: 9.5%;
    font-size: 16px;
    height: 20px;
    text-align: center;
    /* align: center; */
    margin-left: 45%;
    /* margin-top: 5%; */
    margin-bottom: 1%;
}

.play_div1 {
    border: 0px;
    background-color: black;
    color: white;
    border-radius: 45%;
    width: 9.5%;
    font-size: 16px;
    height: 20px;
    text-align: center;
    /* align: center; */
    margin-left: 45%;
    /* margin-top: 5%; */
    margin-bottom: 1%;
}

.segment_div {
    border: 0px;
    background-color: darkmagenta;
    color: white;
    border-radius: 40%;
    width: 19%;
    font-size: 16px;
    height: 20px;
    text-align: center;
    /* align: center; */
    margin-left: 40%;
    /* margin-top: 5%; */
    margin-bottom: 1%;
}

#myCanvas {
    width: 100%;
    height: 100%;
}

.js-canvas {
    width: 100%;
    height: 100%;
}