.main_div {
    margin: 0 auto;
}

.record_div {
    border: 0px;
    background-color: black;
    color: white;
    border-radius: 15%;
    width: 9.5%;
    font-size: 16px;
    height: 20px;
    text-align: center;
    /* align: center; */
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.record_time {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
}

.play_div {
    border: 0px;
    background-color: black;
    color: white;
    border-radius: 15%;
    width: 9.5%;
    font-size: 16px;
    height: 20px;
    text-align: center;
    /* align: center; */
    margin-left: 45%;
    /* margin-top: 5%; */
    margin-bottom: 1%;
}

.graph_title {
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 0 auto;
}

.graphical_representation {
    width: 823px;
    display: table;
    height: 400px;
    margin: 0 auto;
}

.labels {
    width: 20px;
    height: 400px;
    color: blue;
    font-size: 7px;
    float: left;
    background-color: blue;
    border: 1px solid white;
    border-right: 0px;
}

.graph {
    width: 800px;
    height: 400px;
    border: 1px solid blue;
    float: right;
}