.ball_collision_container {
    margin-left: 15%;
    margin-top: 5%;
    border: 3px solid black;
    height: 500px;
    width: 800px;
    position: relative;
}

.box {
    background: blue;
    position: absolute;
}