a:link {
    text-decoration: none;
}

.body_width {
    width: 1500px;
}

.total_width {
    margin-left: 165px;
    margin-right: 165px;
}

.head {
    height: 80px;
    /* background-color: #76c7c1; */
    /* display: table; */
    background-image: url("../images/header_background.png");
    background-repeat: repeat-x;
}

.header_width {
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 21px;
}

.tollens_logo {
    float: left;
    width: 20%;
}

.header_rightpart {
    color: #f9ffff;
    /* margin-right: 165px; */
    float: right;
}

.header_list {
    color: #f9ffff;
    padding-top: 10px;
    /* display: inline; */
    padding-left: 24px;
    font-size: 12px;
    align-content: center;
    float: left;
}

.search_logo {
    padding-top: 10px;
    display: inline;
    padding-left: 24px;
    /* float: left; */
}

.portfolio_design {
    color: #f9ffff;
    align-content: center;
    height: 33px;
    width: 120px;
    /* background-image: url("./images/dropdown.png"); */
    /* background-repeat: repeat-x; */
    /* display: inline; */
    margin-left: 24px;
    padding-top: 10px;
    font-size: 12px;
    align-content: center;
    float: left;
}

.portfolio_dropdown {
    padding-top: 5px;
    float: left;
}

.portfolio__content {
    color: #f9ffff;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding-left: 6px;
    float: left;
    align-content: center;
}

.portfolio_button {
    background-color: #67a3a1;
}

.aboutus {
    height: 80px;
    background-color: #ececec;
}

.aboutus_contents {
    margin-left: 165px;
    margin-right: 165px;
}

.left_aboutus_content {
    margin-top: 33px;
    color: #7b8a87;
    font-size: 16px;
    float: left;
    align-content: center;
}

.right_aboutus_content {
    padding-left: 9px;
    margin-top: 33px;
    color: #7b8a87;
    float: right;
    align-content: center;
    font-size: 12px;
}

.below_about_us {
    /* margin-left: 165px; */
    background-color: #f3f3f3;
}

.top_arrowhead {
    background-color: #f3f3f3;
    padding-left: 165px;
    /* margin-top: 0px; */
    /* padding-bottom: 2px; */
    /* height: 13px; */
}

.header_below_aboutus {
    padding-top: 52px;
    margin-left: 165px;
    margin-right: 165px;
    font-size: 24px;
    color: #df4e3b;
}

.paragraph_below_aboutus {
    padding-top: 22px;
    margin-right: 165px;
    margin-left: 165px;
    font-size: 12px;
    color: #7b8181;
}

.content_below_aboutus {
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 75px;
    display: table;
}

.left_col_below_aboutus_content {
    /* margin-left: 165px; */
    float: left;
}

.left_header_below_paragraph {
    color: #7f8f8c;
    font-size: 14px;
}

.left_col_content {
    margin-top: 30px;
}

.left_portion_content {
    /* float: left; */
    padding-top: 10px;
    display: table;
}

.red_arrow {
    /* margin-top: 12px; */
    width: 12px;
    float: left;
}

.left_bullet_content {
    /* margin-top: 12px; */
    color: #7f7f7f;
    font-size: 12px;
    float: left;
}

.right_col_content {
    padding-left: 85px;
    /* margin-top: 35px; */
    display: table;
}

.right_col_left_content {
    width: 552px;
    float: left;
}

.right_col_left_top_content {
    color: #7f7f7f;
    font-size: 12px;
}

.middle_text_link {
    color: #e64c66;
}

.right_col_left_bottom_content {
    margin-top: 60px;
    display: table;
}

.right_col_left_bottom_block_1 {
    width: 121px;
    float: left;
}

.right_col_left_bottom_blocks {
    padding-left: 20px;
    width: 121px;
    float: left;
}

.right_col_left_bottom_blocks_text {
    color: #828e8c;
    font-size: 14px;
    align-content: center;
    padding-top: 21px;
}

.right_col_right_content {
    /* width: 552px; */
    padding-left: 38px;
    float: left;
}

.right_col_right_header {
    color: #7f8f8c;
    font-size: 14px;
}

.right_col_right_content_block {
    margin-top: 22px;
    background-color: #f8f8f8;
    width: 270px;
}

.right_col_right_content_block_text {
    align-content: center;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 17px;
    color: #7b7b7b;
    font-size: 12px;
}

.right_col_right_content_buttom_block {
    display: table;
    width: 270px;
    background-color: #f3f3f3;
}

.buttom_image {
    padding-left: 18px;
    width: 28px;
    float: left;
}

.buttom_text {
    color: #7b7b7b;
    float: left;
    font-size: 16px;
    padding-left: 13px;
    padding-top: 9px;
}

.our_team {
    height: 526px;
    background-color: #f3f3f3;
    background-image: url("../images/background_image.png");
    background-repeat: repeat-x;
}

.best_solution {
    background-color: #f3f3f3;
}

.best_solution_contents {
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 95px;
}

.best_solution_header {
    color: #f64032;
    font-size: 32px;
    align-content: center;
}

.best_solution_text {
    font-size: 12px;
    color: #838788;
    padding-top: 22px;
    padding-left: 90px;
    padding-right: 90px;
    align-content: center;
}

.our_happy_clients {
    margin-left: 165px;
    margin-right: 165px;
}

.our_happy_clients_upper_part {
    display: table;
}

.happy_clients_right_text {
    padding-top: 95px;
    width: 150px;
    font-size: 12px;
    color: #818b8c;
    float: left;
}

.circle_line {
    padding-top: 95px;
    padding-left: 16px;
    float: left;
}

.circle {
    width: 9px;
    /* padding-top: 6px; */
    float: left;
}

.line {
    /* align-content: center; */
    margin-top: 5px;
    height: 1px;
    width: 878px;
    /* float: left; */
    /* width: 880px; */
    background-image: url("../images/happy-client-line.png");
    background-repeat: repeat-x;
}

.right_slider {
    margin-top: 90px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    align-content: center;
    background-color: #99a3a4;
    float: right;
}

.right_slider:hover {
    background-color: #e2534b;
}

.left_slider {
    margin-top: 90px;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    align-content: center;
    background-color: #99a3a4;
    float: right;
}

.left_slider:hover {
    background-color: #e2534b;
}

.our_happy_clients_lower_part {
    padding-top: 40px;
    padding-bottom: 67px;
    display: table;
}

.jquery_block_1 {
    float: left;
    /* margin-left: 28px; */
}

.jquery_block {
    float: left;
    margin-left: 28px;
}

.jquery_image {
    width: 170px;
}

.upper_footer {
    /* margin-top: 67px; */
    height: 301px;
    background-image: url("../images/upper_footer.png");
    background-repeat: repeat-x;
}

.upper_footer_contents {
    margin-left: 165px;
    margin-right: 165px;
}

.lower_footer {
    /* margin-left: 163px; */
    /* margin-right: 163px; */
    background-color: #6bb4ad;
    height: 50px;
    padding-top: 21px;
}

.lower_footer_contents {
    margin-left: 165px;
    margin-right: 165px;
}

.lower_tollens_logo {
    /* margin-left: 163px; */
    width: 20%;
    float: left;
}

.lower_footer_rightpart {
    /* margin-right: 163px; */
    float: right;
}

.footer_logo {
    /* height: 12px; */
    padding-top: 11px;
    /* display: inline; */
    padding-left: 24px;
    float: left;
    color: #f9ffff;
}