#canvas {
    background-color: #043a4a;
    display: block;
}

.helix_animation {
    background-color: #043a4a;
    display: block;
    margin: 0 auto;
    margin-left: 15%;
    padding-left: 3%;
    margin-top: 5%;
    height: 350px;
    width: 280px;
}