.body_width {
    width: 100%;
}

a:link {
    text-decoration: none;
}

.total_width {
    width: 78%;
    margin: 0 auto;
}

.head {
    height: 80px;
    /* background-color: #76c7c1; */
    /* display: table; */
    background-image: url("../images/header_background.png");
    background-repeat: repeat-x;
}

.header_width {
    width: 78%;
    margin: 0 auto;
    padding-top: 1.4%;
}

.tollens_header_logo {
    /* height: auto; */
    float: left;
    width: 13.333%;
}

.header_rightpart {
    width: 65%;
    color: #f9ffff;
    /* margin-right: 165px; */
    display: table;
    float: right;
}

.header_list {
    color: #f9ffff;
    padding-top: 0.666%;
    /* display: inline; */
    margin-left: 2.474%;
    font-size: 12px;
    align-content: center;
    float: left;
}

.search_logo {
    margin-top: 0.666%;
    /* display: inline; */
    margin-left: 2.474%;
    width: 2.266%;
    height: 2.133%;
    align-content: center;
    float: left;
}

.body_section {
    background-color: #f3f3f3;
}

.aboutus {
    height: 80px;
    background-color: #ececec;
}

.aboutus_contents {
    width: 78%;
    margin: 0 auto;
    /* margin-left: 165px; */
    /* margin-right: 165px; */
}

.left_aboutus_content {
    margin-top: 33px;
    color: #7b8a87;
    font-size: 16px;
    float: left;
    align-content: center;
}

.right_aboutus_content {
    padding-left: 9px;
    margin-top: 33px;
    color: #7b8a87;
    float: right;
    align-content: center;
    font-size: 12px;
}

.below_about_us {
    /* margin-left: 165px; */
    background-color: #f3f3f3;
}

.top_arrowhead {
    background-color: #f3f3f3;
    padding-left: 11.000%;
    width: 1.866%;
    /* margin-top: 0px; */
    /* padding-bottom: 2px; */
    /* height: 13px; */
}

.project_slideshow {
    position: relative;
    width: 78%;
    margin: 0 auto;
    padding-top: 5%;
}

.left_arrow {
    background-image: url(../images/left-arrow.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 5.128%;
    top: 45%;
    left: 0;
}

.right_arrow {
    background-image: url(../images/slider-right.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 5.128%;
    top: 45%;
    right: 0;
}

.caption-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    color: #b5babd;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

.slider-bottom {
    width: 78%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 5%;
}

.slider-bottom-wrapper {
    background-color: royalblues;
    text-align: center;
}

.slider-bottom-wrapper li {
    display: inline-block;
    list-style-type: none;
    width: 5.1280%;
    height: 5px;
    background-image: url(../images/slider-bottom-in.jpg);
}


/* ...... */


/* .........  */


/* ...... */


/* .........  */


/* ...... */


/* .........  */


/* ...... */


/* .........  */

.upper_footer {
    /* margin-top: 67px; */
    width: 100%;
    height: 301px;
    background-image: url("../images/upper_footer.png");
    background-repeat: repeat-x;
}

.upper_footer_contents {
    margin-left: 11%;
    margin-right: 11%;
    padding-top: 3%;
    display: table;
}

.tollens_logo {
    width: 24.4%;
    float: left;
}

.tollens_footer_logo {
    width: 55.737%;
    /* height: auto; */
}

.tollens_logo_texts {
    margin-top: 7.65%;
    color: #f1ffff;
    font-size: 11px;
    width: 100%;
}

.tollens_logo_contacts {
    margin-top: 8.196%;
    color: #f1ffff;
    width: 100%;
}

.contacts {
    display: table;
    width: 100%;
}

.phone {
    font-size: 11px;
    float: left;
}

.phone_number {
    font-size: 16px;
    padding-left: 10.643%;
    float: left;
}

.email {
    font-size: 11px;
    float: left;
}

.email_address {
    font-size: 20px;
    padding-left: 10.643%;
    float: left;
}

.company_list {
    float: left;
    margin-left: 2.90%;
    width: 8%;
}

.company_header {
    color: #49847e;
    font-size: 16px;
}

.company_details {
    padding-top: 26.086%;
    padding-left: 12.121%;
    width: 100%;
}

.company_details_block_1 {
    display: table;
    width: 100%;
}

.company_details_block {
    padding-top: 10.434%;
    width: 100%;
    display: table;
}

.company_details_block_arrow {
    width: 8.602%;
    float: left;
}

.company_details_block_text {
    /* padding-left: 0.466%; */
    width: 91.398%;
    font-size: 12px;
    color: #f1ffff;
    float: left;
    align-content: center;
    /* width: 100%; */
}

.community_list {
    float: left;
    margin-left: 5.666%;
}

.community_header {
    color: #49847e;
    font-size: 16px;
}

.community_details {
    padding-top: 2%;
    padding-left: 1.466%;
}

.community_details_block_1 {
    padding-top: 18.434%;
    width: 100%;
    display: table;
}

.community_details_block {
    padding-top: 0.8%;
    width: 100%;
    display: table;
}

.community_details_block_arrow {
    width: 8.602%;
    float: left;
}

.community_details_block_text {
    /* padding-left: 0.466%; */
    width: 91.398%;
    font-size: 12px;
    color: #f1ffff;
    float: left;
    align-content: center;
}

.from_the_blog {
    float: left;
    margin-left: 8.466%;
    width: 30.933%;
}

.blog_header {
    color: #f1ffff;
    font-size: 16px;
}

.blog_contents {
    width: 100%;
    padding-top: 1.533%;
}

.blog_content_1 {
    /* height: 70px; */
    display: table;
    width: 100%;
}

.blog_content_2 {
    /* height: 70px; */
    display: table;
    padding-top: 1.333%;
    width: 100%;
}

.blog_image {
    width: 20%;
    float: left;
}

.blog_image_content {
    width: 80%;
    padding-left: 8.2%;
    font-size: 12px;
    float: right;
    display: table;
}

.blog_image_uppercontent {
    color: #f1ffff;
}

.blog_date {
    padding-top: 0.466%;
    color: #5e9f9b;
}

.lower_footer {
    /* margin-left: 163px; */
    /* margin-right: 163px; */
    background-color: #6bb4ad;
    height: 50px;
    padding-top: 1.4%;
}

.lower_footer_contents {
    margin-left: 11%;
    margin-right: 11%;
}

.lower_tollens_logo {
    /* margin-left: 163px; */
    width: 6.581%;
    float: left;
}

.lower_footer_rightpart {
    /* margin-right: 163px; */
    width: 93.419%;
    float: left;
}

.footer_logo {
    width: auto;
    /* height: 12px; */
    padding-top: 0.733%;
    /* display: inline; */
    padding-left: 1.6%;
    float: right;
    color: #f9ffff;
}

@media only screen and (max-width:780px) {
    .head {
        padding-top: 6%;
        padding-bottom: 12%;
        background-image: none;
        background-color: #76c7c1;
    }
    .header_list {
        width: 100%;
        padding-top: 1%;
        background-color: #76c7c1;
    }
    .tollens_header_logo {
        display: none;
    }
    .search_logo {
        display: none;
    }
}